html{
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

/* HERO SECTION*/
.hero{
  background-image: url('../Images/heroImageBlue.png');
  height: 100vh;
  background-size: cover;
  
}

.nav-custom{
  padding-top: 2.5rem;
}

@media (max-width: 575px){
  .nav-custom{
    padding-top:0.5rem;
  }
  
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 992px){
  .inner-center{
    padding-left: 6.5rem;
  }
}
section h1{
  letter-spacing: 8px;
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 1px black;
}

section h2 {
  line-height: 1.3;
  text-shadow: 1px 1px 1px black;
  color:white;
}

section h4 {
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;

}

.gitlink-custom{
  padding-right: 1rem;
}

.readmore{
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.readmore-icon{
  font-size: 3rem;
}


.development-items{
  padding-top:1rem;
}
.development-icons{
  height: 24px;
  width: 24px;
}

a{
  color: white;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: underline;
  outline: none;
}

a:hover {
  color: rgb(176, 195, 209);
  text-decoration: underline;
  outline: none;
}

.headings-custom{
  padding-bottom: 1.5rem;
}
.project-buttons{
  text-align: center;
}

.badge-danger{
  background-color: orangered;
}

.badge-warning{
  background-color: rgb(255, 230, 0);
}

.resume-school{
  margin-bottom: 0px;
}

.link-icons{
  font-size: 2.5rem;
}

.footer{
  text-align: center;
}

