html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

/* HERO SECTION*/
.hero {
  background-image: url('../Images/layered-waves-haikei.svg');
  background-color: #0017ff;
  height: 100vh;
  background-size: cover;
}

.nav-custom {
  padding-top: 2.5rem;
}

@media (max-width: 575px) {
  .nav-custom {
    padding-top: 0.5rem;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 992px) {
  .inner-center {
    padding-left: 6.5rem;
  }
}
.hero h1 {
  letter-spacing: 8px;
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.hero h3 {
  text-shadow: 2px 2px 2px black;
  color: whitesmoke;
}

.hero h4 {
  color: whitesmoke;
  padding-top: 10px;
  text-shadow: 2px 2px 2px black;
}

.readmore {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.readmore-icon {
  font-size: 3rem;
}
.custom-dev-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.custom-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.custom-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: large;
}

.custom-card {
  max-width: 500px;
}
.development-icons {
  height: 24px;
  width: 24px;
}

a {
  color: white;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: white;
  text-decoration: none;
  outline: none;
}

.custom-link:hover {
  color: #cbc4e5;
}

.btn {
  border-radius: 30px;
  background-color: #0017ff;
}

.btn:hover {
  transform: scale(0.97, 0.97);
  background-color: #283afd;
}

.readmore-icon {
  text-shadow: 1px 1px 1px black;
}

/* BADGES */
.badge-danger {
  background-color: rgb(255, 136, 0);
}

.badge-warning {
  background-color: rgb(255, 230, 0);
}
.badge-purple {
  background-color: slateblue;
  color: white;
}

.card-image {
  max-height: 350px;
  object-fit: cover;
}
.resume-school {
  margin-bottom: 0px;
}

.link-icons {
  font-size: 2.5rem;
}

.footer {
  text-align: center;
}
#contact-section {
  background-color: #0017ff;
  background-image: url('../Images/wave-haikei.svg');
  background-size: cover;
}

#contact-form {
  width: 100%;
  max-width: 500px;
}

textarea {
  resize: vertical;
  max-height: 200px;
}
