.container {
  border-radius: 15px;
  cursor: pointer;
  color: black;
}

.container:hover {
  background-color: aliceblue;
  color: black;
}

.badge {
  background-color: rgb(231, 231, 231) !important;
}
