.container {
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.container:hover {
  background-color: #cde1ff;
  color: black;
}

.dateContainer {
  min-width: fit-content;
  height: 100%;
}

.date {
  font-family: var(--code-font);
  font-weight: 300;
  color: var(--color-paragraph-secondary);
}
