.container {
  width: calc(100% - 16px);
  margin: 0 auto 20px auto;
}

.dropdownContainer {
  display: flex;
  margin: 10px 0;
}

.search {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.3rem;
  line-height: 1.1;
  padding: 0.75rem 1rem;
  width: 100%;
}