.navBar {
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  width: 100%;
}

.btn:hover {
  transform: scale(0.97, 0.97);
  background-color: var(--bg-color);
}

.logo {
  color: black;
}

.logo h3 {
  margin: 0;
}

.logo:hover {
  color: black;
}
